<h1>Data Mahasiswa</h1>


<div class="modal fade" id="formMahasiswa">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Mahasiswa</h4>
      </div>
      <div class="modal-body">
        
        <form class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="npm" class="col-sm-2 control-label">NPM</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="npm" placeholder="Nomer Pokok Mahasiswa">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="nama" class="col-sm-2 control-label">Nama</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="nama" placeholder="Nama Lengkap">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="tanggalLahir" class="col-sm-2 control-label">Tanggal Lahir</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="tanggalLahir" placeholder="Tanggal Lahir">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="email" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" id="email" placeholder="Alamat Email">
		    </div>
		  </div>
		</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Simpan Data</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<td>NPM</td>
			<td>Nama</td>
			<td>Tanggal Lahir</td>
			<td>Email</td>
			<td><button class="btn btn-default" data-toggle="modal" data-target="#formMahasiswa">
					<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;new
				</button>
			</td>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>01234567890</td>
			<td>Endy Muhardin</td>
			<td>17 Agustus 1945</td>
			<td>endy.muhardin@gmail.com</td>
			<td>
				<button class="btn btn-default" data-toggle="modal">
					<span class="glyphicon glyphicon-pencil"></span>&nbsp;edit
				</button>
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-remove"></span>&nbsp;delete
				</button>
			</td>
		</tr>
	</tbody>
</table>
